/bin/
/target/
/dialog/target
/nlu/target
/memory/target
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
*.iml
*.idea


.target

resources/word2vec_toy_data_and_model
resources_nlu/word2vec/roboy_enwik8.txt
resources_nlu/error_test/newLexicon.txt 


docs/doxyxml

# NLU stuff

lib
fig
sfig
refdb
virtuoso-opensource

classes
libsempre
sempre.jar
module-classes.txt

state
out
test-output

.project
.classpath
.settings
.idea
semparse.iml
*~
*.swp
*.bak
*.pyc
*.cache
*.DS_Store
java.hprof.txt

# Symlinks
/c
/e
/t
/x
scr
rdf

# interactive outputs
int-output*
int-backup
interactive/.ipynb_checkpoints
# Community server logs
community-server/data
community-server/data-backup

nlu/parser/target/

# API KEYS
*.key