/bin/
/target/
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
*.iml
*.idea


.target

resources/word2vec_toy_data_and_model

docs/doxyxml
memory\.log

memory\.log\.1

roboy_parser

memory\.log\.1
