/bin/
/target/
/dialog/target
/nlu/target
/memory/target
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
*.iml
*.idea


.target

resources/word2vec_toy_data_and_model
resources_nlu/word2vec/roboy_enwik8.txt

docs/doxyxml
